<h1>Users#new</h1>

<%= simple_form_for :session, url: users_path, method: :post do |f| %>
  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Sign Up" %>
<% end %>
